* {
  color: whitesmoke;
  font-size: 20px;
}

header {
  height: 100vh;
}

body {
  font: white;
  background: url("wp9657810-japan-8-bit-wallpapers.jpg") no-repeat;
}
body h1 {
  font-size: 50px;
  font-family: Cambria, serif;
  text-align: center;
  padding: 1rem;
}
.reveal .answer {
  color: lime;
}

.reveal .not-answer {
  color: red;
}

.answer option-1 {
  color: black;
}

.hide {
  display: none;
}
